<h1>Product {{product.name}}</h1>
<p>Now, your product</p>

<ul>
        <li>
            <p><b>{{product.name}}</b>: {{product.description}}</p>
            <p><b>Price</b>: ${{product.price}}</p>
        </li>

        <form action="/product" method="POST">
            <input name="author" type="text" placeholder="autor"/>
            <textarea name="comment" type="text" placeholder="comentário"></textarea>
            <input name="product_id" type="hidden" value="{{this.id}}" />
            <button type="submit">Enviar</button>
        </form>
    
    {{#each comments}}
        <li>
            <p><b>{{this.author}}</b></p>
            <p>{{this.comment}}</p>
        </li>
    {{/each}}

    <p></p>
</ul>